<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <title>Hair Salon</title>
  </head>
  <body>
    <div class="container">
      @RenderBody()
    </div>
  </body>
</html>
