<h1>@Model.GetName()</h1>
<form action="/Clients/@Model.GetId()/editname" method="post">
  <div class="">
    <label for="newName"></label>
    <input type="text" name="newName" required>
  </div>
  <button type="submit" class="">Edit Client</button>
</form>
</h1>

<h3><a href="/">Home</a></h3>
<h3><a href='/Stylists'>List of Salon Stylists</a></h3>
<h3><a href="/Stylists/search">Find a Stylist</a></h3>
