<h1>Add Client</h1>

<form action="/Client" method="post">
  <div class="">
    <label for="clientName">Client Name:</label>
    <input type="text" name="clientName" required>
  </div>
  <button type="submit" class="">ADD</button>
</form>

<h3><a href="/">Home</a></h3>
<h3><a href="/Stylist">List of Stylist</a></h3>
<h3><a href="/Client">List of Client</a></h3>
