@{
  Layout = "_Layout";
}

<h1>Add Client</h1>

<form action="/Clients" method="post">
  <div class="homepage">
    <br>
    <label for="clientName">Client Name:</label>
    <input type="text" name="clientName" required>
    <label for="stylistId">Stylist Id:</label>
    <input type="text" name="stylistId" required>
    <button type="submit" class="">ADD</button>
  </div>

</form>
<div class="homepage">
  <h3><a href="/">Home</a></h3>
  <h3><a href="/Clients">List of Client</a></h3>
  <h3><a href="/Stylists">List of Stylist</a></h3>
</div>
