<h1>List of Clients</h1>
<ul>
  @foreach(var Client in Model)
  {
    <li>@Client.GetClient() - Stylist: @Client.GetStylist()</li>
  }
</ul>

<h3><a href="/">Home</a></h3>
<h3><a href="/Client/new">Add new Client</a></h3>
<h3><a href="/Stylist/search">Find a Stylist</a></h3>
