<h1>Add Specialties</h1>

<form action="/Specialty" method="post">
  <div class="">
    <label for="specialtyName">Specialty Name:</label>
    <input type="text" name="specialtyName" required>
  </div>
  <button type="submit" class="">ADD</button>
</form>

<h3><a href="/">Home</a></h3>
<h3><a href="/Clients">List of Client</a></h3>
<h3><a href="/Stylists">List of Stylist</a></h3>
