@{
  Layout = "_Layout";
}

<h1>Add Specialties</h1>

<form action="/Specialty" method="post">
  <div class="homepage">
    <label for="specialtyName">Specialty Name:</label>
    <input type="text" name="specialtyName" required>
    <button type="submit" class="">ADD</button>
  </div>
</form>
<div class="homepage">
  <h3><a href="/">Home</a></h3>
  <h3><a href="/Clients">List of Client</a></h3>
  <h3><a href="/Stylists">List of Stylist</a></h3>
</div>
