body {
  background-image: url(/img/hair.jpg);
  height: 100%;
  width: 100%;
  height: 100vh;
  display: table;
  top: 0;
  background-size: cover;
  font-family: skia;
  font-size:2.5em;
  text-align: center;
  margin-top: 10%
}

.homepage {
  border-style: solid;
  border-color: rgba(0,0,0,0.1);
  background-color: rgba(0,0,0,0.7);

}

h1 {
  color: #FFF;
  font-size: 3em;
}

h3 {
  color: #FFF;
  font-size: 35px;
}

h3 a {
  color: #FFF;
  font-size: 1.50em;
  font-weight: bold;
  /* border-style: solid;
  border-color: rgba(0,0,0,0.1);
  background-color: rgba(0,0,0,0.1); */
}

h3 a:hover {
  color: #778899;
  text-decoration: none;
}

a {
  color: #FFF;
}

li {
  color: #FFF;
  list-style: none;
}

button {
  color: #778899;
  background-color: rgba(0,0,0,0.2);
  border-radius: 6px;
}

label {
  color: #FFF;
}

input {
  border-radius: 6px;
}
