<h1>Welcome to Hair Salon</h1>

<h3><a href='/Stylist'>List of Salon Stylist</a></h3>
<h3><a href='/Stylist/new'>Add New Stylist</a></h3>
<h3h><a href='/Stylist'></a></h3>
<h3><a href='/Stylist/search'>Search Stylist</a></h3>
