@{
  Layout = "_Layout";
}

<h1>Salon 6ix</h1>

<div class="homepage">
  <h3><a href='/Stylists'>List of Salon Stylists</a></h3>
  <h3><a href='/Clients'>List of Salon Clients</a></h3>
  <h3><a href='/Specialty'>Specialties List</a></h3>
  <h3><a href='/Stylists/new'>Add New Stylist</a></h3>
  <h3h><a href='/Stylists'></a></h3>
  <h3><a href='/Stylists/search'>Search Stylist</a></h3>
</div>
