<h3 class="style">Stylist Team:</h3>
<br> <h3 class="style">Stylist Name:</h3> @Model.GetName()
<br> <h3 class="style">Stylist Details:</h3> @Model.GetDetail()
<h3><a href='/Stylist/new'>Add New Stylist</a></h3>
