<h1>@Model.GetName()</h1>
<h3>Client List:</h3>

<ul>
  @foreach(var client in Model.GetAllClient())
  {
    <li>@client.GetName()</li>
  }
</ul>

<h3>Add a New Client</h3>
<form action="/Stylists/@Model.GetName()/addclient" method="post">
  <div class="">
    <label for="clientName">Client Name:</label>
    <input type="text" name="clientName" required>
  </div>
  <button type="submit" class="">ADD</button>
</form>

<h3><a href="/stylists">List of Stylists</a></h3>
<h3><a href="/">Home</a></h3>
