<h1>@Model.GetName()
<form action="/Stylist/@Model.GetId()/editname" method="post">
  <div class="">
    <label for="newName"></label>
    <input type="text" name="newName" required>
  </div>
  <button type="submit" class="">Edit Name</button>
</form>
</h1>

<h3>Client List:</h3>

<ul>
  @foreach(var client in Model.GetAllClient())
  {
    <form action="/Stylist/deleteclient/@Model.GetId()" method="post">
      <input type="number" name="clientId" value="@client.GetId()" hidden>
      <li>@client.GetName() <button type="submit" class="">Delete</button></li>
    </form>
  }
</ul>

<h3>Add a New Client</h3>
<form action="/Stylists/@Model.GetId()/addclient" method="post">
  <div class="">
    <label for="clientName">Client Name:</label>
     <input type="text" name="clientName" required>
  </div>
  <button type="submit" class="">ADD</button>
</form>

<h3><a href="/Stylists">List of Stylists</a></h3>
<h3><a href="/">Home</a></h3>
